<html class="h-full bg-gray-50">
	<head>
		<title>Login</title>
	</head>
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='style.css') }}"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="https://tailwindcss.com/favicons/favicon-32x32.png?v=3"
	/>
	<body class="h-full">
		<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
			<div class="sm:mx-auto sm:w-full sm:max-w-sm">
				<img
					class="mx-auto h-auto w-50"
					src="../static/logo.svg"
					alt="QuizTime"
				/>
				<h2
					class="mt-10 text-center text-2xl sm:text-2xl font-bold leading-9 tracking-tight text-gray-900"
				>
					Sign in to your account
				</h2>
			</div>

			<div class="mt-10 sm:mx-auto sm:w-full max-w-full sm:max-w-sm">
				<div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
					<form
						class="space-y-6"
						action="{{ url_for('login_email') }}"
						method="POST"
					>
						<div>
							<div class="flex justify-between">
								<label
									for="email"
									class="inline-block mb-2 text-sm font-medium text-gray-900"
									>Email</label
								>
								<div class="text-sm inline-block">
									<a
										href="{{ url_for('login_phone') }}"
										class="font-semibold text-indigo-600 hover:text-indigo-500"
										>Use Phone Number</a
									>
								</div>
							</div>
							<input
								type="email"
								id="email"
								name="email"
								class="mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="you@example.com"
								required
							/>
						</div>

						<div class="my-6">
							<label
								for="password"
								class="block mb-2 text-sm font-medium text-gray-900"
								>Password</label
							>
							<input
								type="password"
								id="password"
								name="password"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="•••••••••"
								required
							/>
						</div>

						<div>
							<button
								type="submit"
								class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
							>
								Sign in
							</button>
							<div class="text-sm text-red-500 mt-5 text-center">
								{{ msg }}
							</div>
						</div>
					</form>
				</div>

				<p class="mt-10 text-center text-sm text-gray-500">
					Not a member?
					<a
						href="{{ url_for('register') }}"
						class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
						>Sign up</a
					>
				</p>
			</div>
		</div>
	</body>
</html>
