<html class="h-full bg-gray-50">
	<head>
		<title>Login</title>
	</head>
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='style.css') }}"
	/>
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/18.1.6/css/intlTelInput.css"
	/>
	<link rel="icon" type="image/png" sizes="32x32" href="https://tailwindcss.com/favicons/favicon-32x32.png?v=3">
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/18.1.6/js/intlTelInput.min.js"></script>
	<body class="h-full">
		<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
			<div class="sm:mx-auto sm:w-full sm:max-w-sm">
				<img
					class="mx-auto h-auto w-50"
					src="../static/logo.svg"
					alt="QuizTime"
				/>
				<h2
					class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
				>
					Sign in to your account
				</h2>
			</div>

			<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
				<div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
					<form
						class="space-y-6"
						action="{{ url_for('login_phone') }}"
						method="POST"
					>
						<div>
							<div class="flex justify-between mb-2">
								<label
									for="phone"
									class="inline-block mb-2 text-sm font-medium text-gray-900"
									>Phone number</label
								>
								<div class="text-sm inline-block">
									<a
										href="{{ url_for('login_email') }}"
										class="font-semibold text-indigo-600 hover:text-indigo-500"
										>Use Email</a
									>
								</div>
							</div>
							<input
								type="tel"
								id="phone"
								name="phone"
								class="mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								onchange="appendCountryCode(this)"
								required
							/>
						</div>

						<div class="my-6">
							<label
								for="password"
								class="block mb-2 text-sm font-medium text-gray-900"
								>Password</label
							>
							<input
								type="password"
								id="password"
								name="password"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
								placeholder="•••••••••"
								required
							/>
						</div>
						<div class="imgcapure grid place-items-center">
							<video id="stream" width="370" height="320">
								<canvas id="capture" width="370" height="320">
								</canvas>
							</video>
							<br />
							<button
								id="btn-capture"
								type="button"
								class="btn btn-primary justify-content-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60"
							>
								Capture Image
							</button>
							<br />
							<div id="snapshot"></div>
							<input
								type="hidden"
								id="image_hidden"
								name="image_hidden"
							/>
						</div>
						<div>
							<button
								type="submit"
								class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
							>
								Sign in
							</button>
							<div class="text-sm text-red-500 mt-5 text-center">
								{{ msg }}
							</div>
						</div>
					</form>
				</div>

				<p class="mt-10 text-center text-sm text-gray-500">
					Not a member?
					<a
						href="{{ url_for('register') }}"
						class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
						>Sign up</a
					>
				</p>
				<script>
					const input = document.querySelector('#phone');
					let iti = intlTelInput(input, {
						utilsScript:
							'https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.6/build/js/utils.js',
						initialCountry: 'auto',
						geoIpLookup: function (callback) {
							fetch('https://ipapi.co/json')
								.then(function (res) {
									return res.json();
								})
								.then(function (data) {
									callback(data.country_code);
								})
								.catch(function () {
									callback('in');
								});
						},
					});

					function appendCountryCode(inputElm) {
						inputElm.value = iti.getNumber();
					}
				</script>
			</div>
		</div>
		<script>
			var btnCapture = document.getElementById("btn-capture");
			var stream = document.getElementById("stream");
			var capture = document.getElementById("capture");
			var snapshot = document.getElementById("snapshot");
			var cameraStream = null;
			
			btnCapture.addEventListener( "click", captureSnapshot );
		
			function startStreaming() {
			
			  var mediaSupport = 'mediaDevices' in navigator;
			
			  if( mediaSupport && null == cameraStream ) {
			
				navigator.mediaDevices.getUserMedia( { video: true } )
				.then( function( mediaStream ) {
				  cameraStream = mediaStream;
				  stream.srcObject = mediaStream;
				  stream.play();
				})
				.catch( function( err ) {
				  console.log( "Unable to access camera: " + err );
				});
			  }
			  else {
				alert( 'Your browser does not support media devices.' );
				return;
			  }
			}
			
			function stopStreaming() {
			  if( null != cameraStream ) {
				var track = cameraStream.getTracks()[ 0 ];
				track.stop();
				stream.load();
				cameraStream = null;
			  }
			}
			
			function captureSnapshot() {
			  if( null != cameraStream ) {
				var ctx = capture.getContext( '2d' );
				var img = new Image();
				ctx.drawImage( stream, 0, 0, capture.width, capture.height );
				img.src		= capture.toDataURL( "image/png" );
				img.width	= 370;
				img.height	= 320;
				//console.log(capture.toDataURL( "image/png" ));
				snapshot.innerHTML = '';
				snapshot.appendChild( img );
				var d1 = capture.toDataURL("image/png");
				var res = d1.replace("data:image/png;base64,", "");
				console.log(res);
				snapshot.innerHTML = '';
				snapshot.appendChild( img );
				$("#image_hidden").val(res)    
			  }
			}
			window.onload = function() {
			   startStreaming();
			   captureSnapshot();
			}
			</script>
	</body>
</html>
