{% extends 'exam_layout.html' %} {% block body %}
<!-- Pixel CSS -->
<link
	type="text/css"
	rel="stylesheet"
	href="{{ url_for('static', filename='css/pixel.css') }}"
/>
<script src="{{ url_for('static', filename='assets/js/pixel.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.min.js"
	integrity="sha512-IHQXMp2ha/aGMPumvzKLQEs9OrPhIOaEXxQGV5vnysMtEmNNcmUqk82ywqw7IbbvrzP5R3Hormh60UVDBB98yg=="
	crossorigin="anonymous"
></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.all.js"
	integrity="sha512-uRc/2ZGOQYtxuR4Uoq8K13eLYuGFWyW3P/U8/qI2wP3BuHQxFhuoiEreDpC80/L6HbPM5IhAVKgK8l7lWwyJkw=="
	crossorigin="anonymous"
></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.all.min.js"
	integrity="sha512-S8dy60Ic3uMzmNBB0ocD0TaIBdciM2JLjG2ZRaOhjNwYYO6I1aeRg/mY+T/x4WSx9oh42HvqHB0c7aK3d17Qog=="
	crossorigin="anonymous"
></script>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.css"
	integrity="sha512-3Mf7x3QC98zKhMBTTGj5fDu2wQE9bgC/MmyFLRuyUTWZRWM4txPrzVfWqrCOWs9Il79iEw5T6+N7fbXXSUafrQ=="
	crossorigin="anonymous"
/>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.js"
	integrity="sha512-/2LAWgYlRv0SU4+anDImXAEXGumWtSgZEpRkr6NJ7ehenRBRhWjpJx350BLc+ddOy024/vLjI6ymeDmfAuqPdQ=="
	crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	var answers = '{{answers}}';
</script>
<script>
	var tid = '{{tid}}';
</script>
<main>
	<section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
		<div class="container">
			<div
				class="col-12 d-flex align-items-center justify-content-center"
			>
				<div
					class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-900"
				>
					<div class="text-center text-md-center mb-4 mt-md-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<span
										><h4 class="display-6">
											SUBJECT: {{subject}}
										</h4></span
									>
								</div>
								<div class="col">
									<span
										><h4 class="display-6">
											TOPIC: {{topic}}
										</h4></span
									>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-3">
							<div class="mb-0 h6">Name: {{session['name']}}</div>
						</div>
						<div class="form-group col-3">
							<div class="mb-0 h6">
								Email: {{session['email']}}
							</div>
						</div>
						<div class="form-group col-3">
							<div class="mb-0 h6">EXAM-ID: {{tid}}</div>
						</div>
						<div class="form-group col-3">
							<div class="mb-0 h6">
								TIME LEFT:
								<div id="time">{{duration}}</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="container">
							<div id="overlay">
								<div class="row" id="question-list"></div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="mb-0 h4">
							<div id="queid">Q.</div>
							<div id="que">{{ q }}</div>
							<div id="mark">[MAX MARKS: {{ marks}}]</div>
						</div>
					</div>
					<div class="form-group">
						<label class="h6" for="exampleFormControlTextarea1"
							>Select your Answer</label
						>
						<table id="options" class="table">
							<tr>
								<td id="a">𝐀. {{ a }}</td>
							</tr>
							<tr>
								<td id="b">𝐁. {{ b }}</td>
							</tr>
							<tr>
								<td id="c">𝐂. {{ c }}</td>
							</tr>
							<tr>
								<td id="d">𝐃. {{ d }}</td>
							</tr>
						</table>
					</div>

					<div class="row">
						<div class="form-group col-3">
							<div class="mb-0 h6">
								<input
									type="button"
									value="Prev"
									id="prev"
									class="btn btn-primary btn-rounded"
								/>
							</div>
						</div>
						<div class="form-group col-3">
							<div class="mb-0 h6">
								<input
									type="button"
									value="Next"
									id="next"
									class="btn btn-primary btn-rounded"
								/>
							</div>
						</div>
						<div class="form-group col-3">
							<div class="mb-0 h6">
								<input
									type="button"
									value="Submit"
									id="submit"
									class="btn btn-success btn-rounded"
								/>
							</div>
						</div>
						<div class="form-group col-3">
							<div class="mb-0 h6">
								<button
									class="btn btn-primary btn-rounded"
									id="bookmark"
								>
									Bookmark
								</button>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="btn btn-block btn-primary" id="finish">
							Finish Test
						</div>
					</div>

					<center>
						<div class="form-group">
							<div
								class="container"
								id="videocheck"
								style="display: none"
							>
								<div
									class="justify-content-center align-items-center"
								>
									<video id="stream" width="320" height="320">
										<canvas
											id="capture"
											width="320"
											height="320"
										></canvas>
									</video>
								</div>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>
	</section>
</main>
<script
	type="text/javascript"
	src="{{ url_for('static', filename='app.js') }}"
></script>
<script>
	document.getElementById('videocheck').style.display = 'block';
	startStreaming();
	captureSnapshot();
</script>
{% endblock %}
