{% extends 'layout.html' %} {% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.min.js"
	integrity="sha512-IHQXMp2ha/aGMPumvzKLQEs9OrPhIOaEXxQGV5vnysMtEmNNcmUqk82ywqw7IbbvrzP5R3Hormh60UVDBB98yg=="
	crossorigin="anonymous"
></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.all.js"
	integrity="sha512-uRc/2ZGOQYtxuR4Uoq8K13eLYuGFWyW3P/U8/qI2wP3BuHQxFhuoiEreDpC80/L6HbPM5IhAVKgK8l7lWwyJkw=="
	crossorigin="anonymous"
></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.all.min.js"
	integrity="sha512-S8dy60Ic3uMzmNBB0ocD0TaIBdciM2JLjG2ZRaOhjNwYYO6I1aeRg/mY+T/x4WSx9oh42HvqHB0c7aK3d17Qog=="
	crossorigin="anonymous"
></script>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.css"
	integrity="sha512-3Mf7x3QC98zKhMBTTGj5fDu2wQE9bgC/MmyFLRuyUTWZRWM4txPrzVfWqrCOWs9Il79iEw5T6+N7fbXXSUafrQ=="
	crossorigin="anonymous"
/>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.js"
	integrity="sha512-/2LAWgYlRv0SU4+anDImXAEXGumWtSgZEpRkr6NJ7ehenRBRhWjpJx350BLc+ddOy024/vLjI6ymeDmfAuqPdQ=="
	crossorigin="anonymous"
></script>


<main>
	<section class="min-vh-75 d-flex bg-primary align-items-center">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8 col-lg-6 justify-content-center">
					<div class="card bg-primary shadow-soft border-light p-4">
						<div class="card-header text-center pb-0">
							<h2 class="h1 col">Tests</h2>
						</div>
						<div class="card-body">
							<form
								id="startform"
								action="intermediate"
								method="POST"
								class="mt-4"
							>
								<div class="form-group">
									<label for="exampleInputIcon3"
										>CHOOSE TEST:</label
									>
									<div class="input-group mb-4">
										<select
											name="chooseexam"
											class="form-control"
											id="exampleFormControlSelect2"
										>
											<option disabled selected>
												Choose
											</option>
											{% for test in cresults %}
											<option
												value="{{test['test_id']}},{{test['subject']}},{{test['topic']}},{{test['duration']}}"
											>
												{{test['subject']}} -
												{{test['topic']}}
											</option>
											{% endfor %}
										</select>
									</div>
									<center>
										<div
											class="imgcapure justify-content-center"
										>
											<video
												id="stream"
												width="370"
												height="320"
											>
												<canvas
													id="capture"
													width="370"
													height="320"
												>
												</canvas>
											</video>
											<br />
											<button
												id="btn-capture"
												type="button"
												class="btn btn-primary justify-content-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60"
											>
												Capture Image
											</button>
											<br /><br />
											<div id="snapshot"></div>
											<input
												type="hidden"
												id="image_hidden"
												name="image_hidden"
											/>
										</div>
									</center>
									<br />
									<!-- <input
										type="submit"
										class="btn btn-block btn-primary"
										value="GIVE TEST"
										onclick="return funStartExam()"
									/> -->
									<button id="start" class="btn btn-block btn-primary">START TEST</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		var btnCapture = document.getElementById('btn-capture');
		var stream = document.getElementById('stream');
		var capture = document.getElementById('capture');
		var snapshot = document.getElementById('snapshot');
		var cameraStream = null;

		$('#start').on("click", function(e) {
     funStartExam(e);

});
		function funStartExam(e) {
			e.preventDefault();
			var form = document.getElementById('startform');
			Swal.fire({
				title: '<strong>BEFORE EXAM LOGIN RULES</strong>',
				icon: 'warning',
				html:
					'<h5>ONLINE EXAM RULES TO BE FOLLOWED STRICTLY</h5>, ' +
					'<ol><li>Dont minimize the window it will be monitored.</li><li>Check that your camera is proper.</li><li>Dont try to use mobile or any other material it will be monitored and strict action will be taken.</li><li>Use calculator which is given by our system not from your laptop/desktop/mobile.</li><li>Dont use incognito browser & also check that your cookies are enabled.</li></ol>',
				showCloseButton: false,
				showCancelButton: false,
				focusConfirm: true,
				confirmButtonColor: '#202124',
				confirmButtonText: 'OK, BEGIN EXAM!',
				confirmButtonAriaLabel: 'We are abide by rules!',
			}).then((result) => {
				if (result.isConfirmed) {
					form.submit();
				}
			});
		}

		btnCapture.addEventListener('click', captureSnapshot);

		function startStreaming() {
			var mediaSupport = 'mediaDevices' in navigator;

			if (mediaSupport && null == cameraStream) {
				navigator.mediaDevices
					.getUserMedia({ video: true })
					.then(function (mediaStream) {
						cameraStream = mediaStream;
						stream.srcObject = mediaStream;
						stream.play();
					})
					.catch(function (err) {
						console.log('Unable to access camera: ' + err);
					});
			} else {
				alert('Your browser does not support media devices.');
				return;
			}
		}

		function stopStreaming() {
			if (null != cameraStream) {
				var track = cameraStream.getTracks()[0];
				track.stop();
				stream.load();
				cameraStream = null;
			}
		}

		function captureSnapshot() {
			if (null != cameraStream) {
				var ctx = capture.getContext('2d');
				var img = new Image();
				ctx.drawImage(stream, 0, 0, capture.width, capture.height);
				img.src = capture.toDataURL('image/png');
				img.width = 370;
				img.height = 320;
				//console.log(capture.toDataURL( "image/png" ));
				snapshot.innerHTML = '';
				snapshot.appendChild(img);
				var d1 = capture.toDataURL('image/png');
				var res = d1.replace('data:image/png;base64,', '');
				console.log(res);
				snapshot.innerHTML = '';
				snapshot.appendChild(img);
				$('#image_hidden').val(res);
			}
		}
		window.onload = function () {
			startStreaming();
			captureSnapshot();
		};
	</script>
</main>
{% endblock %}
